doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    div#navbar
      h1
        a(class='header' href='/') Johns predictions
      case baseUrl
        when '/login'
          a(href='/signup') signup
        when '/signup'
          a(href='/login') login
        default
          a(href='/login') logout

    div#main
      block content

