extends layout

block content
  form(action="/login", method="post")
    label(for="email") email:
    br
    input(type="text", id="email", name="email", required)

    br
    br
    label(for="password") password:
    br
    input(type="password", id="password", name="password", required)

    br
    br
    input(type="submit", value="Submit")
