extends layout

block content
  div(role="region")
    table(class='results')
      thead
        tr
          each header in tableHeaders 
            th= header

      tbody
        each question, index in questions 
          tr
            th= question
            td #{actuals[index]}
            each prediction in predictions
              td #{prediction[index]}
